* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  overflow: hidden;
}
* input,
* button,
* label {
  cursor: pointer;
}

body {
  width: 100%;
  height: 100vh;
  background-color: #1f2937;
}
body .container {
  background-color: aliceblue;
  padding: 30px;
  border-radius: 8px;
  align-self: center;
  margin: 20px 100px 0;
}
body .container h2 {
  text-align: center;
  font-size: 33px;
  margin-bottom: 20px;
  font-weight: 700;
  color: rgb(45, 45, 45);
}
body .container .input-group {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
body .container .input-group.checkbox {
  flex-direction: row;
}
body .container .input-group.discount {
  display: none;
}
body .container .input-group input {
  padding: 10px;
  border-radius: 8px;
  border: 1px solid rgba(128, 128, 128, 0.692);
  transition: all 0.3s;
  outline: none;
}
body .container .input-group input:focus {
  border-color: blue;
  box-shadow: 5px 5px 10px rgba(128, 128, 128, 0.249);
}
body .container .input-group label {
  font-size: 17px;
  color: rgb(49, 49, 49);
}
body .container h1 {
  text-align: center;
  font-size: 45px;
  color: rgb(1, 1, 34);
  margin-bottom: 30px;
}
body .container-bottom {
  display: flex;
  gap: 40px;
}
body .container-bottom aside {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 25%;
  box-shadow: 0px 0px 20px rgba(128, 128, 128, 0.381);
  padding: 40px 20px;
  border-radius: 8px;
}
body .container-bottom aside .add {
  padding: 10px;
  border-radius: 8px;
  border: none;
  background-color: rgba(0, 128, 0, 0.824);
  color: white;
  font-size: 17px;
  margin-top: 30px;
}
body .container-bottom main {
  width: 70%;
}
body .container-bottom main .filter {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
  box-shadow: 5px 5px 30px rgba(128, 128, 128, 0.249);
  padding: 20px;
  border-radius: 8px;
  gap: 20px;
}
body .container-bottom main .filter h2 {
  text-align: start;
}
body .container-bottom main .filter .input-group {
  display: flex;
  flex-direction: row;
  align-items: center;
}
body .container-bottom main .filter .input-group select {
  padding: 10px;
  width: 20rem;
  border-radius: 8px;
}
body .container-bottom .table {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
body .container-bottom .table table {
  border-collapse: collapse;
}
body .container-bottom .table thead th {
  background-color: rgba(31, 41, 55, 0.8156862745);
  color: white;
  padding: 10px 43px;
  border: 1px solid rgb(255, 255, 255);
}
body .container-bottom .table tbody .not {
  padding-block: 40px;
  font-size: 30px;
  color: gray;
}
body .container-bottom .table tbody td {
  border: 1px solid rgba(128, 128, 128, 0.283);
  text-align: center;
  background-color: white;
}
body .container-bottom .table tbody td span {
  padding: 3px;
  border-radius: 20%;
  background-color: green;
  color: white;
}
body .container-bottom .table tbody td img {
  width: 40%;
  aspect-ratio: 1/1;
  -o-object-fit: contain;
     object-fit: contain;
}
body .container-bottom .table tbody td button {
  padding: 5px;
  border: none;
  color: white;
  border-radius: 5px;
}
body .container-bottom .table tbody td button.delete {
  background-color: rgba(255, 0, 0, 0.664);
}
body .container-bottom .table tbody td button.edit {
  background-color: rgb(131, 131, 65);
}
body .container-bottom .table tbody td button.buy {
  background-color: green;
}

.drawer-overlay {
  background-color: rgba(0, 0, 0, 0.699);
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: absolute;
  top: 0;
  right: 0;
  display: flex;
  justify-content: end;
  align-items: center;
  transform: translateX(100vw);
}
.drawer-overlay.openedX {
  transform: translateX(0);
}
.drawer-overlay .drawer-box {
  background-color: white;
  width: 400px;
  height: 100%;
  padding: 30px;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  transform: translateX(500px);
  transition: all 0.3s ease;
}
.drawer-overlay .drawer-box .newPrice {
  padding: 3px 7px;
  border-radius: 20%;
  background-color: green;
  color: white !important;
  font-weight: 400;
}
.drawer-overlay .drawer-box button {
  padding: 8px;
  border: 1px solid #cccccc;
  border-radius: 50%;
  width: 22px;
  height: 22px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.drawer-overlay .drawer-box.openedX {
  transform: translateX(0);
}
.drawer-overlay .drawer-box .absolute {
  position: absolute;
  top: 20px;
  right: 20px;
}
.drawer-overlay .drawer-box h2 {
  font-weight: 500;
  font-size: 20px;
  line-height: 150%;
  letter-spacing: 0%;
}
.drawer-overlay .drawer-box .product-list {
  margin-top: 30px;
}
.drawer-overlay .drawer-box .drawer-bar {
  margin-top: 30px;
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #e6e6e6;
}
.drawer-overlay .drawer-box .drawer-bar:last-child {
  border-bottom: none;
}
.drawer-overlay .drawer-box .drawer-bar img {
  width: 20%;
  aspect-ratio: 1/1;
}
.drawer-overlay .drawer-box .drawer-bar div {
  width: 60%;
}
.drawer-overlay .drawer-box .drawer-bar div p {
  font-weight: 600;
  font-size: 14px;
  line-height: 150%;
  letter-spacing: 0%;
}
.drawer-overlay .drawer-box .drawer-bar div b {
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
  letter-spacing: 0%;
  color: #808080;
}
.drawer-overlay .drawer-box .drawer-bar div b span {
  font-weight: 600;
  color: #1a1a1a;
}
.drawer-overlay .drawer-box .drawer-bar button {
  font-size: 14px;
  padding: 8px;
  border: 1px solid #cccccc;
  border-radius: 50%;
  width: 22px;
  height: 22px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.drawer-overlay .drawer-box .drawer-bottom {
  display: flex;
  flex-direction: column;
}
.drawer-overlay .drawer-box .drawer-bottom_top {
  display: flex;
  justify-content: space-between;
}
.drawer-overlay .drawer-box .drawer-bottom_top p {
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0%;
}
.drawer-overlay .drawer-box .drawer-bottom_top b {
  font-weight: 600;
  font-size: 16px;
  line-height: 120%;
  letter-spacing: 0%;
}
.drawer-overlay .drawer-box .drawer-bottom button {
  width: 100%;
  padding-block: 16px;
  background-color: rgba(86, 172, 89, 0.1019607843);
  color: green;
  font-weight: 600;
  font-size: 16px;
  line-height: 120%;
  letter-spacing: 0%;
  border: none;
  border-radius: 43px;
}
.drawer-overlay .drawer-box .drawer-bottom button.checkout {
  background-color: green;
  color: white;
  margin-block: 24px 12px;
}/*# sourceMappingURL=style.css.map */