* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  input,
  button,
  label {
    cursor: pointer;
  }
  font-family: Arial, Helvetica, sans-serif;
  overflow: hidden;
}

body {
  width: 100%;
  height: 100vh;
  background-color: #1f2937;

  .container {
    background-color: aliceblue;
    padding: 30px;
    border-radius: 8px;
    align-self: center;
    margin: 20px 100px 0;
    h2 {
      text-align: center;
      font-size: 33px;
      margin-bottom: 20px;
      font-weight: 700;
      color: rgb(45, 45, 45);
    }
    .input-group {
      display: flex;
      flex-direction: column;
      gap: 8px;

      &.checkbox {
        flex-direction: row;
      }
      &.discount {
        display: none;
      }
      input {
        padding: 10px;
        border-radius: 8px;
        border: 1px solid rgba(128, 128, 128, 0.692);
        transition: all 0.3s;
        outline: none;
        &:focus {
          border-color: blue;
          box-shadow: 5px 5px 10px rgba(128, 128, 128, 0.249);
        }
      }
      label {
        font-size: 17px;
        color: rgb(49, 49, 49);
      }
    }
    h1 {
      text-align: center;
      font-size: 45px;
      color: rgb(1, 1, 34);
      margin-bottom: 30px;
    }
    &-bottom {
      display: flex;
      gap: 40px;
      aside {
        display: flex;
        flex-direction: column;
        gap: 20px;
        width: 25%;
        box-shadow: 0px 0px 20px rgba(128, 128, 128, 0.381);
        padding: 40px 20px;
        border-radius: 8px;

        .add {
          padding: 10px;
          border-radius: 8px;
          border: none;
          background-color: rgba(0, 128, 0, 0.824);
          color: white;
          font-size: 17px;
          margin-top: 30px;
        }
      }
      main {
        width: 70%;
        .filter {
          display: flex;
          flex-direction: column;
          margin-bottom: 20px;
          box-shadow: 5px 5px 30px rgba(128, 128, 128, 0.249);
          padding: 20px;
          border-radius: 8px;
          h2 {
            text-align: start;
          }
          gap: 20px;
          .input-group {
            display: flex;
            flex-direction: row;
            align-items: center;

            select {
              padding: 10px;
              width: 20rem;
              border-radius: 8px;
            }
          }
        }
      }
      .table {
        width: 100%;
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;
        table {
          border-collapse: collapse;
        }
        thead {
          th {
            background-color: #1f2937d0;
            color: white;
            padding: 10px 43px;
            border: 1px solid rgb(255, 255, 255);
          }
        }
        tbody {
          .not {
            padding-block: 40px;
            font-size: 30px;
            color: gray;
          }
          td {
            border: 1px solid rgba(128, 128, 128, 0.283);
            text-align: center;
            background-color: white;
            span {
              padding: 3px;
              border-radius: 20%;
              background-color: green;
              color: white;
            }
            img {
              width: 40%;
              aspect-ratio: 1/1;
              object-fit: contain;
            }
            button {
              padding: 5px;
              border: none;
              color: white;
              border-radius: 5px;
              &.delete {
                background-color: rgba(255, 0, 0, 0.664);
              }
              &.edit {
                background-color: rgb(131, 131, 65);
              }
              &.buy {
                background-color: green;
              }
            }
          }
        }
      }
    }
  }
}

.drawer-overlay {
  background-color: rgba(0, 0, 0, 0.699);
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: absolute;
  top: 0;
  right: 0;
  display: flex;
  justify-content: end;
  align-items: center;
  transform: translateX(100vw);

  &.openedX {
    transform: translateX(0);
  }

  .drawer-box {
    background-color: white;
    width: 400px;
    height: 100%;
    padding: 30px;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    transform: translateX(500px);
    transition: all 0.3s ease;
    .newPrice {
      padding: 3px 7px;
      border-radius: 20%;
      background-color: green;
      color: white !important;
      font-weight: 400;
    }
    button {
      padding: 8px;
      border: 1px solid #cccccc;
      border-radius: 50%;
      width: 22px;
      height: 22px;
      display: flex;
      align-items: center;
      justify-content: center;
    }
    &.openedX {
      transform: translateX(0);
    }
    .absolute {
      position: absolute;
      top: 20px;
      right: 20px;
    }
    h2 {
      font-weight: 500;
      font-size: 20px;
      line-height: 150%;
      letter-spacing: 0%;
    }
    .product-list {
      margin-top: 30px;
    }
    .drawer-bar {
      margin-top: 30px;
      &:last-child {
        border-bottom: none;
      }
      display: flex;
      width: 100%;
      align-items: center;
      justify-content: space-between;
      border-bottom: 1px solid #e6e6e6;
      img {
        width: 20%;
        aspect-ratio: 1/1;
      }
      div {
        width: 60%;
        p {
          font-weight: 600;
          font-size: 14px;
          line-height: 150%;
          letter-spacing: 0%;
        }
        b {
          font-weight: 400;
          font-size: 14px;
          line-height: 150%;
          letter-spacing: 0%;
          color: #808080;
          span {
            font-weight: 600;
            color: #1a1a1a;
          }
        }
      }
      button {
        font-size: 14px;
        padding: 8px;
        border: 1px solid #cccccc;
        border-radius: 50%;
        width: 22px;
        height: 22px;
        display: flex;
        align-items: center;
        justify-content: center;
      }
    }
    .drawer-bottom {
      display: flex;
      flex-direction: column;
      &_top {
        display: flex;
        justify-content: space-between;
        p {
          font-weight: 400;
          font-size: 16px;
          line-height: 150%;
          letter-spacing: 0%;
        }
        b {
          font-weight: 600;
          font-size: 16px;
          line-height: 120%;
          letter-spacing: 0%;
        }
      }
      button {
        width: 100%;
        padding-block: 16px;
        background-color: #56ac591a;
        color: green;
        font-weight: 600;
        font-size: 16px;
        line-height: 120%;
        letter-spacing: 0%;
        border: none;
        border-radius: 43px;
        &.checkout {
          background-color: green;
          color: white;
          margin-block: 24px 12px;
        }
      }
    }
  }
}
